<!DOCTYPE html>
<html>

<head>
    <title>Travel SamutPrakan</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css" integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ho+j7jyWK8fNQe+A12Hb8AhRq26LrZ/JpcUGGOn+Y7RsweNrtN/tE3MoK7ZeZDyx" crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

    <link href="/css/style.css" rel="stylesheet" type="text/css">
</head>

<body style="text-align: center; background-color: rgb(187, 230, 255);">
    <div class="sriracha">
        <nav class="navbar navbar-expand-lg cnavbar navbar-dark bg-dark">
            <div class="container">
                <a class=" navbar-brand mb-0 h1" href="http://localhost:3000/home">SamutPrakan</a>
                <button class="navbar-toggler " type="button " data-toggle="collapse " data-target="#navbarSupportedContent " aria-controls="navbarSupportedContent " aria-expanded="false " aria-label="Toggle navigation ">
          <span class="navbar-toggler-icon "></span>
        </button>

                <form class="form-inline">
                    <input class="form-control mr-sm-2" type="search" placeholder="ค้นหา" aria-label="Search">
                    <button class="btn btn-outline-light my-2 my-sm-0" type="submit ">ค้นหา</button>
                </form>

                <div class="collapse navbar-collapse" id="navbarSupportedContent ">
                    <div class="mr-auto"></div>
                    <ul class="navbar-nav my-2 my-lg-0">
                        <li class="nav-item">
                            <a class="nav-link " href="http://localhost:3000/home">หน้าแรก<span class="sr-only ">(current)</span></a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link " href="http://localhost:3000/favorite">รายการโปรด</a>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-display="static" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <img src="/pic/profile.png" width="30" height="30">
                            </a>
                            <div class="dropdown-menu dropdown-menu-lg-right" aria-labelledby="navbarDropdown">
                                <a class="dropdown-item" href="http://localhost:3000/login">เข้าสู่ระบบ</a>
                                <a class="dropdown-item" href="http://localhost:3000/register">ลงทะเบียน</a>
                                <a class="dropdown-item" href="http://localhost:3000/home">ออกจากระบบ</a>
                            </div>
                        </li>
                    </ul>
                </div>
        </nav>
        </div>


        <div class="container bai">
            <div class="row">
                <div class="col"></div>
                <div class="col-2"></div>
                <div class="col-7">
                    <br>
                    <h3><img src="/pic/iconmarker.png" class="responsiveicon"> บางกระเจ้า</h3>
                </div>
                <div class="col-2"><button type="button" class="btn btn-outline-dark" style="margin-right: 0%; margin-top: 20%;">favorite</button></div>
                <div class="col"></div>
            </div>
        </div>


        <div class="container bai">
            <div class="row">
                <div class="col "></div>
                <div class="col-11 ">
                    <img src="/pic/บางกระเจ้า.jpg" class="responsivee">

                    <br>
                    <br>
                    <p>
                        “คุ้งบางกะเจ้า” คือ พื้นที่ส่วนหนึ่งที่เป็นบริเวณโค้งน้ำของแม่น้ำเจ้าพระยา ซึ่งมีรูปร่างคล้ายกระเพาะหมู ครอบคลุมพื้นที่กว้างถึง 6 ตำบลของ อำเภอพระประแดง จังหวัดสมุทรปราการ ได้แก่ ตำบลบางกะเจ้า ตำบลบางน้ำผึ้ง ตำบลบางกอบัว ตำบลบางกระสอบ ตำบลบางยอ และ ตำบลทรงคะนอง
                        คิดเป็นพื้นที่ประมาณ 12,000 ไร่ เมื่อวันที่ 14 ก.ย. 2520 ได้มีมติคณะรัฐมนตรี กำหนดให้ “คุ้งบางกะเจ้า” เป็นพื้นที่สีเขียว เหมาะแก่การเพาะปลูก โดยไม่อนุญาตให้ทำการก่อสร้างตึกหรืออาคาร ที่มีความสูงเกินกว่าที่กำหนด และเมื่อปี 2549
                        นิตยสาร Time ได้ยกให้พื้นที่บางกระเจ้าเป็น The best Urban Oasis of Asia หรือที่เรียกว่า เป็นปอดกลางเมืองที่ดีที่สุดในเอเชียนั่นเอง แม้ระยะเวลาจะผ่านมาหลายสิบปี สถานที่แห่งนี้ยังถือว่าเป็น “ปอด” ฟอกอากาศให้กรุงเทพฯ และจังหวัดสมุทรปราการ
                        ได้อย่างดีเสมอมา
                    </p>
                    <br>


                </div>
                <div class="col "></div>
            </div>
        </div>

        <div class="container bai">
            <div class="row">
                <div class="col "></div>
                <div class="col-11 ">
                    <br>
                    <h3>สถานที่ท่องเที่ยวภายในบางกระเจ้า</h3>
                    <br>

                    <h5>1.ตลาดน้ำบางน้ำผึ้ง</h5>
                    <img src="/pic/ตลาดน้ำบางน้ำผึ้ง.jpg" class="responsivee">
                    <br><br>
                    <p>
                        เปิดให้บริการ ทุกวันหยุดเสาร์ อาทิตย์ และวันหยุดนักขัตฤกษ์ ตั้งแต่เวลา 08.00 -16.00 น.<br><br> ตลาดน้ำบางน้ำผึ้ง จัดเป็นแหล่งท่องเที่ยวที่ตั้งอยู่ใน อำเภอพระประแดง จังหวัดสมุทรปราการ เพื่อส่งเสริมการท่องเที่ยวเชิงอนุรักษ์และสนับสนุนให้ชาวบ้านมีรายได้จากการนำผลผลิตในท้องถิ่นมาจำหน่ายเพื่อสร้างรายได้
                        ภายในตลาดมีร้านค้ามากมาย ขายอาหารพื้นบ้านทั้งคาวหวาน และสินค้าโอทอปจากคนในชุมชนบางน้ำผึ้ง และตำบลใกล้เคียงในจังหวัดสมุทรปราการ ตลาดจะมีเฉพาะวันเสาร์และวันอาทิตย์ เริ่มเปิดตลาดประมาณแปดโมงเช้าไปจนถึงเย็น
                    </p>
                    <img src="/pic/ตลาดน้ําบางน้ําผึ้ง2.jpg" class="responsivee">
                    <img src="/pic/ตลาดน้ําบางน้ําผึ้ง3.jpg" class="responsivee">
                    <p>
                        เมื่อมาถึงภายในตลาด สามารถจอดรถไว้ที่ลานจอดรถบริเวณทางเข้าตลาดจอดฟรีไม่เสียค่าบริการ แต่หากที่จอดรถเต็มสามารถหาที่จอดได้ในลานจอดรถของเอกชนที่อยู่นอกตลาดได้ซึ่งอาจต้องเสียค่าบริการ ภายในตลาดจัดเป็นซุ้มให้มีทางเดินยาวกว่า 2 กิโลเมตร มีลักษณะเป็นวงกลม ด้านหน้าเป็นโซนของต้นไม้
                        ขายทั้งไม้ดอก ไม้ประดับ กระถางต้นไม้ อุปกรณ์ทำสวนต่างๆ
                    </p>
                    <img src="/pic/ตลาดน้ําบางน้ําผึ้ง4.jpg" class="responsivee">
                    <img src="/pic/ตลาดน้ําบางน้ําผึ้ง5.jpg" class="responsivee">
                    <div style="padding-top: .5%;"></div>
                    <img src="/pic/ตลาดน้ําบางน้ําผึ้ง6.jpg" class="responsivee">
                    <img src="/pic/ตลาดน้ําบางน้ําผึ้ง7.jpg" class="responsivee">
                    <p>
                        ส่วนด้านในเป็นร้านค้าที่เรียงรายตลอดสองฝั่งทางเดิน มีสารพัดอาหารคาวหวานให้เลือกซื้อมากมาย ทั้ง อาหารและขนมไทยโบราณ น้ำพริก ผักสด ผลไม้ ผักปลอดสารพิษ อาหารทานเล่น รวมทั้งสินค้าข้างของเครื่องใช้อย่าง เสื้อผ้า เครื่องประดับ ส่วนร้านอาหารสำหรับคนที่ต้องการนั่งทานอาหารในตลาดมีน้อยซึ่งส่วนใหญ่จะเป็นก๋วยเตี๋ยว
                        อาหารส่วนใหญ่เน้นซื้อกลับบ้าน ไม่เหมือนในช่วงตลาดเปิดใหม่มีร้านนั่งทานเยอะ
                    </p>
                    <img src="/pic/ตลาดน้ําบางน้ําผึ้ง8.jpg" class="responsivee">
                    <img src="/pic/ตลาดน้ําบางน้ําผึ้ง9.jpg" class="responsivee">
                    <div style="padding-top: .5%;"></div>
                    <img src="/pic/ตลาดน้ําบางน้ําผึ้ง10.jpg" class="responsivee">
                    <img src="/pic/ตลาดน้ําบางน้ําผึ้ง11.jpg" class="responsivee">
                    <p>
                        สินค้าโอทอปที่ผลิตจากสมุนไพร ทั้ง ยาสระผม ครีมขัดผิว ครีมทาผิว มีให้เห็นตลอดทาง
                    </p>

                    <br>
                    <h5>2.สวนศรีนครเขื่อนขันธ์</h5>
                    <img src="/pic/สวนศรีนครเขื่อนขันธ์.jpg" class="responsivee">
                    <br><br>
                    <p>
                        เปิดให้บริการทุกวัน ตั้งแต่เวลา 6.00-19.00 น. ไม่เสียค่าเข้าชม
                    </p>
                    <p>
                        สวนศรีนครเขื่อนขันธ์ หรือ สวนสาธารณะและสวนพฤษชาติศรีนครเขื่อนขันธ์ จุดท่องเที่ยวสุดฮิตแห่งบางกระเจ้า สมุทรปราการ เป็นสวนสาธารณะสำหรับพักผ่อน ออกกำลังกาย ปั่นจักรยาน ให้อาหารปลา สูดอากาศบริสุทธิ์ ภายในสวนมีเส้นทางปั่นจักรยาน ที่ระหว่างทางมีจุดให้แวะพักผ่อนเป็นระยะ
                        ส่วนจุดเช็คอินไฮไลท์ คือ หอดูนก ที่อยู่ท่ามกลางแมกไม้เขียวขจี ภาพจากด้านบนหอดูนกแบบมุม Bird eye view เป็นจุดแวะพักระหว่างทางที่นักท่องเที่ยวนิยมมาถ่ายรูป ครีเอทท่าเก๋กับจักรยาน สนุกสนานเพลิดเพลินกันเลยทีเดียว
                    </p>
                    <img src="/pic/สวนศรีนครเขื่อนขันธ์1.jpg" class="responsivee">
                    <img src="/pic/สวนศรีนครเขื่อนขันธ์2.jpg" class="responsivee">
                    <p>
                        การเข้าชมภายในสวนไม่อนุญาติให้นำรถส่วนตัวเข้าไป ต้องจอดรถไว้ด้านหน้าจากนั้นเช่าจักรยานปั่นเข้าไป โดยมีร้านจักรยานให้เช่าตรงทางเข้าหลายร้าน หากมาวันธรรมดาจะเหลือร้านเดียว คือ ร้านด้านในสุด แต่ถ้ามาเสาร์ อาทิตย์จะคึกคักมาก มีร้านหลายริมถนนให้เช่า ค่าเช่าจักรยานที่บางกระเจ้าทุกแห่งราคาเท่ากัน
                        คือ วันละ 50 บาท เช่าแล้วปั่นไปยังจุดใดก็ได้ บางคนอาจเช่ามาจากตลาดน้ำบางน้ำผึ้ง หรือวัดบางน้ำผึ้งนอก ซึ่งเป็นจุดใหญ่แล้วปั่นเที่ยวตามจุดต่างๆ มาจนถึงสวนศรี ฯ ซึ่งตั้งอยู่ไกลที่สุด ห่างกันประมาณ 12-15 กม. ถ้าปั่นมาใช้เวลาเกือบ 40
                        นาที แต่ถ้าขับรถมาจะเหลือ 12 นาที หากไม่มีรถส่วนตัวและไม่อยากปั่นเยอะ อาจใช้วิธีนั่งรถมอเตอร์ไซต์รับจ้างที่ให้บริการตามจุดต่างๆ มาก็ได้ สำหรับคนที่ไม่ใช่สายปั่นแบบเรา ขับรถส่วนตัวมาแล้วมาจอดด้านหน้า จากนั้นเช่าจักรยานเข้าไปชมบรรยากาศ
                    </p>
                    <img src="/pic/สวนศรีนครเขื่อนขันธ์3.jpg" class="responsivee">
                    <img src="/pic/สวนศรีนครเขื่อนขันธ์4.jpg" class="responsivee">
                    <p>
                        ด้านในสวนพื้นที่กว้างใหญ่และร่มรื่นมาก สามารถปั่นจักรยานได้รอบ มีจุดนั่งพักและชมธรรมชาติหลายจุด มีสระน้ำขนาดใหญ่กลางสวน สามารถซื้ออาหารปลาเข้าไปให้ปลาได้ นอกจากการปั่นจักรยานแล้วยังมีเส้นทางศึกษาธรรมชาติและหอดูนกซึ่งเป็นจุดไฮไลท์ ระหว่างทางปั่นผ่านแมกไม้น้อยใหญ่สีเขียวขจี
                        ที่แสนร่มรื่นเป็นร่มเงาในการบังแดดได้ดีเลยทีเดียว ปั่นไปได้ยินเสียงนกร้องจิ๊บๆ เพลิดเพลินดี แนะนำให้มาช่วงเช้าประมาณ 7 – 10 โมง เพราะหากเลยเวลานี้ไป อากาศจะร้อนมากถึงแม้ต้นไม้จะเยอะก็ตาม
                    </p>
                    <img src="/pic/สวนศรีนครเขื่อนขันธ์5.jpg" class="responsivee">
                    <img src="/pic/สวนศรีนครเขื่อนขันธ์6.jpg" class="responsivee">
                    <p>
                        จากทางเข้ามาถึงหอดูนกระยะทางไม่ไกล ใช้เวลาปั่นไม่ถึง 10 นาที ก็ถึง เรียกว่าปั่นแบบชิลๆ สำหรับคนที่ไม่ใช่สายปั่น ได้ออกกำลังกายเล็กน้อย หอชมวิวสูง 7 เมตร มีทั้งหมด 3 ชั้น จากชั้นบนสุดมองลงมาด้านล่าง ก็จะเห็นทางเดินทอดยาวท่ามกลางแมกไม้สีเขียว กลายเป็นมุมถ่ายภาพคูลๆ
                    </p>
                    <img src="/pic/สวนศรีนครเขื่อนขันธ์7.jpg" class="responsivee">
                    <img src="/pic/สวนศรีนครเขื่อนขันธ์8.jpg" class="responsivee">
                    <p>
                        สวนศรีนครเขื่อนขันธ์ ถือว่าเป็นสถานที่ธรรมชาติ ได้มาออกกำลังกาย พร้อมไปกับมีมุมถ่ายภาพน่ารัก ณ หอดูนก เป็นอีกหนึ่งกิจกรรมที่เหมาะสำหรับกลุ่มเพื่อน คนในครอบครัวได้ใช้เวลาสนุกร่วมกัน
                    </p>

                    <br>
                    <h5>3.พิพิธภัณฑ์ปลากัดไทย</h5>
                    <img src="/pic/พิพิธภัณฑ์ปลากัดไทย.jpg" class="responsivee">
                    <br><br>
                    <p>
                        เปิดบริการวันเสาร์-อาทิตย์ เวลา 10.00-17.00 น.
                    </p>
                    <img src="/pic/พิพิธภัณฑ์ปลากัดไทย1.jpg" class="responsivee">
                    <img src="/pic/พิพิธภัณฑ์ปลากัดไทย2.jpg" class="responsivee">
                    <div style="padding-top: .5%;"></div>
                    <img src="/pic/พิพิธภัณฑ์ปลากัดไทย3.jpg" class="responsivee">
                    <img src="/pic/พิพิธภัณฑ์ปลากัดไทย8.jpg" class="responsivee">
                    <p>
                        พิพิธภัณฑ์ปลากัดไทย ตั้งอยู่ในพื้นที่ ต.บางกระเจ้า อ.พระประแดง การจัดตั้งพิพิธภัณฑ์แห่งนี้ เพื่อส่งเสริมด้านการท่องเที่ยวเชิงนิเวศน์ ในรูปแบบพิพิธภัณฑ์เพื่อการเรียนรู้ และการพักผ่อนหย่อนใจ ซึ่งนอกจากเนื้อหาด้านปลากัดและความสวยงามของปลากัดสายพันธุ์ต่างๆ
                        ที่ได้จัดแสดงไว้ มีร้านกาแฟ ขายเครื่องดื่ม น้ำแข็งใส คลายร้อน พร้อมที่นั่งจิบเครื่องดื่มกลางสวน
                    </p>
                    <img src="/pic/พิพิธภัณฑ์ปลากัดไทย4.jpg" class="responsivee">
                    <img src="/pic/พิพิธภัณฑ์ปลากัดไทย5.jpg" class="responsivee">
                    <div style="padding-top: .5%;"></div>
                    <img src="/pic/พิพิธภัณฑ์ปลากัดไทย6.jpg" class="responsivee">
                    <img src="/pic/พิพิธภัณฑ์ปลากัดไทย7.jpg" class="responsivee">
                    <p>
                        ภายในพิพิธภัณฑ์ มีนิทรรศการเล่าเกี่ยวกับชีววิทยาของปลากัด เป็นส่วนจัดแสดงปลากัดส่วนแรกในส่วนนี้จะเป็น ปลากัดสวยงามที่ได้รับการพัฒนาสายพันธุ์แล้ว เช่น ปลากัดหางพระจันทร์เสี้ยว ปลากัดหางยาว ปลากัดยักษ์ และปลากัดสองหางแต่ละตัว บริเวณเดียวกันมีอ่างปลาสำหรับเพาะพันธุ์และอนุบาลปลาตัวอ่อน
                        ปลากัดจะมีอายุเฉลี่ย 8 – 12 เดือน ด้วยอายุที่สั้นนี้ทำให้ สามารถพัฒนาสายพันธุ์ได้รวดเร็วไปด้วย ปัจจุบันจึงมีปลากัดสีสัน ออกมามากมาย นอกจากโชว์ความสวยงามแล้ว ยังมีเรื่องการรักษาปลาด้วยน้ำแช่ใบหูกวาง และใบกล้วยน้ำไทย เพื่อให้ตัวปลาสะอาดและแข็งแรงด้วย
                    </p>

                    <br>
                    <h5>4.โอโซนคาเฟ่</h5>
                    <img src="/pic/โอโซนคาเฟ่1.jpg" class="responsivee">
                    <br><br>
                    <p>
                        เปิดให้บริการ พฤหัส – ศุกร์ 10:30 – 17:00น. เสาร์ – อาทิตย์ และ วันหยุดนักขัตฤกษ์ 09:30 – 18:00น.
                    </p>
                    <p>
                        The ozone café ( ดิโอโซน คาเฟ่ ) ร้านกาแฟในสวนบรรยากาศอบอุ่นด้วยโอโซนธรรมชาติ ท่ามกลางบรรยากาศสีเขียว สวนมะพร้าว ริมคลองที่มีสัตว์เลี้ยงน่ารัก ว่ายน้ำ เดินเล่นในสวน ให้ความรู้สึกเหมือนนั่งเล่นอยู่ในบ้านสวนต่างจังหวัด ตัวร้านกว้างขวาง ตกแต่งน่ารักในสไตล์บ้านๆ
                        มีมุมให้พักผ่อนนั่งเล่น ถ่ายภาพสวยหลายมุม ทั้งที่นั่งแบบกระท่อมประดับด้วยผ้าม่านสีขาว ซุ้มไม้ไผ่ยักษ์ ที่นั่งริมบ่อปลามีไอน้ำสีขาวพ่นมาเป็นระยะให้ความรู้สึกสดชื่นเหมือนได้รับโอโซนสมชื่อร้าน
                    </p>
                    <img src="/pic/โอโซนคาเฟ่2.jpg" class="responsivee">
                    <img src="/pic/โอโซนคาเฟ่4.jpg" class="responsivee">
                    <div style="padding-top: .5%;"></div>
                    <img src="/pic/โอโซนคาเฟ่5.jpg" class="responsivee">
                    <img src="/pic/โอโซนคาเฟ่6.jpg" class="responsivee">
                    <p>
                        พิกัดร้านตั้งอยู่ไม่ไกลจากตลาดน้ำบางน้ำผึ้ง ห่างกันเพียง 1 ก.ม. เมื่อมาถึงสามารถจอดรถด้านหน้าร้าน มีที่จอดรถเพียงพอในระดับหนึ่ง ตัวร้านด้านหน้าเป็นซุ้มไม้ขนาดใหญ่ มองเห็นความเขียวได้มาจากด้านหน้า พร้อมไอน้ำที่พ่นภายในร้านเป็นระยะที่นั่งภายในร้านมีหลายโซน
                        เริ่มจากด้านหน้าในตัวบ้านชั้นล่าง ติดกับเคาน์เตอร์สั่งอาหาร ซึ่งเป็นที่นั่งริมบ่อปลาคราฟ มีทั้งแบบแปลตาข่าย ที่นั่งห้อยขา และแบบโต๊ะเก้าอี้
                    </p>
                    <img src="/pic/โอโซนคาเฟ่7.jpg" class="responsivee">
                    <img src="/pic/โอโซนคาเฟ่8.jpg" class="responsivee">
                    <div style="padding-top: .5%;"></div>
                    <img src="/pic/โอโซนคาเฟ่9.jpg" class="responsivee">
                    <img src="/pic/โอโซนคาเฟ่10.jpg" class="responsivee">
                    <p>
                        โซนที่นั่งภายในสวนกว้างขวาง แบ่งเป็นกระท่อม ที่มีผ้าขาวพันโดยรอบมองเห็นวิวริมคลอง และสัตว์เลี้ยง อย่างห่าน สนุกสนานกับการเล่นน้ำ บางตัวมาเดินเล่นบนสนามหญ้า ฟีลบ้านสวนมากที่นั่งติดริมคลองมีทั้งแบบในสนามหญ้า และแบบนั่งเล่นห้อยขาได้แบบชิลๆตรงกลางร้าน คือ
                        ซุ้มไม้ไผ่ยักษ์ยกสูงกลางคลอง เป็นอีกหนึ่งมุมเก๋ที่เหมาะสำหรับมานั่งเล่นและถ่ายภาพ บริเวณลำคลองมีกิจกรรมให้พายเรือ​เล่น​ และมีเปลให้นั่ง นอน ไกวเล่น
                    </p>
                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d62021.61460023832!2d100.52692477910156!3d13.697184199999993!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x30e29f0b2cabde03%3A0xdf542e9a01bd9dee!2z4Lia4Liy4LiH4LiB4Lij4Liw4LmA4LiI4LmJ4Liy!5e0!3m2!1sth!2sth!4v1606665427445!5m2!1sth!2sth"
                        width="600" height="450" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
                    <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
                </div>
                <div class="col "></div>
            </div>
        </div>



</body>

</html>