<!DOCTYPE html>
<html>

<head>
    <title>Travel SamutPrakan</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css" integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ho+j7jyWK8fNQe+A12Hb8AhRq26LrZ/JpcUGGOn+Y7RsweNrtN/tE3MoK7ZeZDyx" crossorigin="anonymous"></script>

    <link href="/css/style.css" rel="stylesheet" type="text/css">

</head>

<body style="text-align: center; background-color: rgb(187, 230, 255);">
    <div class="sriracha">
        <nav class="navbar navbar-expand-lg cnavbar navbar-dark bg-dark">
            <div class="container">
                <a class=" navbar-brand mb-0 h1" href="http://localhost:3000/home">SamutPrakan</a>
                <button class="navbar-toggler " type="button " data-toggle="collapse " data-target="#navbarSupportedContent " aria-controls="navbarSupportedContent " aria-expanded="false " aria-label="Toggle navigation ">
          <span class="navbar-toggler-icon "></span>
        </button>

                <form class="form-inline">
                    <input class="form-control mr-sm-2" type="search" placeholder="ค้นหา" aria-label="Search">
                    <button class="btn btn-outline-light my-2 my-sm-0" type="submit ">ค้นหา</button>
                </form>

                <div class="collapse navbar-collapse" id="navbarSupportedContent ">
                    <div class="mr-auto"></div>
                    <ul class="navbar-nav my-2 my-lg-0">
                        <li class="nav-item">
                            <a class="nav-link " href="http://localhost:3000/home">หน้าแรก<span class="sr-only ">(current)</span></a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link " href="http://localhost:3000/favorite">รายการโปรด</a>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-display="static" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <img src="/pic/profile.png" width="30" height="30">
                            </a>
                            <div class="dropdown-menu dropdown-menu-lg-right" aria-labelledby="navbarDropdown">
                                <a class="dropdown-item" href="http://localhost:3000/login">เข้าสู่ระบบ</a>
                                <a class="dropdown-item" href="http://localhost:3000/register">ลงทะเบียน</a>
                                <a class="dropdown-item" href="http://localhost:3000/home">ออกจากระบบ</a>
                            </div>
                        </li>
                    </ul>
                </div>
        </nav>
        </div>


        <div class="container bai">
            <div class="row">
                <div class="col"></div>
                <div class="col-2"></div>
                <div class="col-7">
                    <br>
                    <h3><img src="/pic/iconmarker.png" class="responsiveicon"> พิพิธภัณฑ์ช้างเอราวัณ</h3>
                </div>
                <div class="col-2"><button type="button" class="btn btn-outline-dark" style="margin-right: 0%; margin-top: 20%;">favorite</button></div>
                <div class="col"></div>
            </div>
        </div>


        <div class="container bai">
            <div class="row">
                <div class="col"></div>
                <div class="col-11">
                    <img src="/pic/ช้าง.jpg" class="responsivee">

                    <br>
                    <br>

                    <p>
                        ราคาบัตรสำหรับชาวไทย (พร้อมดอกไม้ ธูป สามารถเดินชมบริเวณสวนได้โดยรอบ)<br> เวลา 09.00-19.00 น. ● ผู้ใหญ่ 250 บาท / เด็ก 125 บาท<br> ราคาบัตรสำหรับชาวต่างประเทศ เวลา 09.00-19.00 น. ● ผู้ใหญ่ 400 บาท / เด็ก 200 บาท
                    </p>
                    <div style="text-align: left; padding-left: 20%; padding-right: 20%;">
                        <h3>ระเบียบพึงปฏิบัติในการเข้าชม</h3>
                        1. กรุณาแต่งกายสุภาพ ห้ามสวมเสื้อแขนกุด สายเดี่ยว หรือชุดสวมสั้นเหนือเข่า
                        <br> 2. ไม่อนุญาตให้นำสัตว์เลี้ยงเข้า
                        <br> 3. กรุณาเข้าชมด้วยความสุภาพ ห้ามส่งเสียงดัง
                        <br> 4. กรุณารักษาความสะอาด
                        <br> 5. ห้ามกระทำใดๆ ให้เกิดการชำรุดเสียหายต่อสถานที่
                        <br> 6. ห้ามนำอาหารเครื่องดื่มเข้าไปรับประทาน
                        <br> 7. โปรดปฏิบัติตามคำแนะนำของเจ้าหน้าที่
                    </div>
                    <br>

                    <!-- <h3>ระเบียบพึงปฏิบัติในการเข้าชม</h3>
                    <ol>
                        <li>กรุณาแต่งกายสุภาพ ห้ามสวมเสื้อแขนกุด สายเดี่ยว หรือชุดสวมสั้นเหนือเข่า</li>
                        <li>ไม่อนุญาตให้นำสัตว์เลี้ยงเข้า</li>
                        <li>กรุณาเข้าชมด้วยความสุภาพ ห้ามส่งเสียงดัง</li>
                        <li>กรุณารักษาความสะอาด</li>
                        <li>ห้ามกระทำใดๆ ให้เกิดการชำรุดเสียหายต่อสถานที่</li>
                        <li>ห้ามนำอาหารเครื่องดื่มเข้าไปรับประทาน</li>
                        <li>โปรดปฏิบัติตามคำแนะนำของเจ้าหน้าที่</li>
                    </ol> -->
                    <img src="/pic/ช้าง3.jpg" class="responsivee"><br>
                    <p>
                        พิพิธภัณฑ์ช้างเอราวัณ เป็นประติมากรรมลอยตัวรูปช้าง 3 เศียร ซึ่งเป็นประติมากรรมลอยตัวที่ถูกสร้างขึ้นโดยด้วยวิธีเคาะมือแห่งแรกและแห่งที่ใหญ่ที่สุดในโลก ถือเป็นแหล่งท่องเที่ยวอันมีความสำคัญและศักดิ์สิทธิ์ ที่ไม่ควรพลาดของจังหวัดสมุทรปราการ
                        <br><br> พิพิธภัณฑ์ช้างเอราวัณแห่งนี้เริ่มสร้างเมื่อปี 2537 โดยได้เปิดให้ประชาชนทั่วไปเข้าชมอย่างเป็นทางการได้ตั้งแต่ปี พ.ศ.2546 เป็นต้นมา ตัวช้างรวมทั้งอาคารรองรับมีความสูง 43.6 เมตร (เทียบเท่าตึก 14 ชั้น) ความกว้างของช้าง 12
                        เมตร ความยาวลำตัวช้าง 39 เมตร น้ำหนักของลำตัวช้าง 150 ตัน และน้ำหนักของเศียรช้าง 100 ตัน แผ่นทองแดงบุผิวช้างด้านนอกทั้งตัว โดยใช้แผ่นทองแดงหนาประมาณ 1.2 มิลลิเมตร มีขนาดต่างๆกัน ตั้งแต่ 4x8 ฟุต จนถึงแผ่นเล็กสุดขนาดเท่าฝ่ามือ เคาะตกแต่งลวดลายเรียงต่อกันหลายแสนชิ้นด้วยความประณีต
                    </p>

                    <img src="/pic/ช้าง1.jpg" class="responsivee">
                    <img src="/pic/ช้าง2.jpg" class="responsivee">


                    <p>
                        อาคารพิพิธภัณฑ์ช้างเอราวัณ จัดแบ่งพื้นที่หลักออกเป็นสามส่วน ซึ่งได้แนวคิดมาจาคัมภีร์ไตรภูมิกถา ที่แบ่งภพภูมิ เป็นสามส่วนสำคัญ คือ บาดาล โลกมนุษย์ และสวรรค์
                    </p>
                    <p>
                        <h3>ชั้นสุวรรณภูมิ</h3> ชั้นล่างสุดเป็นใต้ดินหรือบาดาล เรียกว่า “ชั้นสุวรรณภูมิ” จัดแสดงโบราณวัตถุเครื่องกระเบื้อง ในชั้นนี้ต้องการสื่อความหมายทางวัฒนธรรมของคนในภูมิภาคเอเชียตะวันออกเฉียงใต้ ซึ่งโบราณเรียกว่า ดินแดนสุวรรณภูมิ โบราณวัตถุที่นำมาสื่อความหมาย
                        คือ ภาชนะดินเผา ที่เรียกว่า “เครื่องกระเบื้อง” เพราะการทำภาชนะดินเผานับเป็นนวัตกรรมในการผลิตเครื่องใช้สอยอันปรากฎหลักฐานว่ามีใช้กันมานับพันปีแล้วในดินแดนสุวรรณภูมิ ใช้ทั้งในชีวิตประจำวันและเป็นสิ่งของแลกเปลี่ยนในเชิงพาณิชย์ แสดงถึงความเคลื่อนไหวติดต่อกันของท้องถิ่นต่างๆ
                        ในดินแดนสุวรรณภูมิ ประเภทภาชนะที่นำมาจัดแสดง อาทิ เครื่องสังคโลก ภาชนะเครื่องกระเบื้องแบบลพบุรี เครื่องเบญจรงค์ และเบญจรงค์ลายน้ำทอง เป็นต้น
                    </p>
                    <p>
                        <h3>ชั้นโลกมนุษย์</h3> ลำดับที่สองหรือชั้นกลางเป็นส่วนอาคารที่รองรับตัวช้างคือ “ชั้นโลกมนุษย์” เป็นบริเวณตัวอาคารทรงกลมที่รองรับน้ำหนักของตัวช้าง เล่าถึงเรื่องราวสะท้อนแก่นพระศาสนาที่ค้ำจุนโลกมนุษย์ให้เกิดศานติผ่านเสาเคาะดุนโลหะภายในอาคารเป็นภาพเรื่องราวอันแฝงด้วยคติธรรมทางศาสนา
                        ภายในอาคารประดับตกแต่งตามส่วนต่างๆ ด้วยเครื่องถ้วยเบญจรงค์และลวดลายปูนปั้นอวดฝีมือภูมิปัญญาแห่งช่างไทยได้อย่างวิจิตร ผสมผสานศิลปะของโลกตะวันตกอย่างกลมกลืนด้วยเพดานอาคารห้องโถงอันเปรียบเสมือนหลังคาโลก ตกแต่งเป็นรูปแผนที่โลกขนาดใหญ่บนงานกระจกสี
                        (stained glass) เป็นผลงานของ Mr.Jacob Schwarzkopf ศิลปินชาวเยอรมัน
                    </p>
                    <p>
                        <h3>ชั้นจักรวาล</h3> ชั้นสามคือส่วนในตัวช้างเป็นส่วนที่อยู่เหนือโลกมนุษย์ขึ้นไปตามคติในไตรภูมิ นั้นสรวงสวรรค์ เรียกว่า “ชั้นจักรวาล” เป็นบริเวณภายในตัวอาคารรูปช้าง จัดแสดงโบราณวัตถุ คือ พระพุทธรูปโบราณสมัยต่างๆ ซึ่งจัดแสดงในลักษณะของการประดิษฐานให้สมกับความที่เป็นสิ่งเคารพบูชาอันเป็นค่าควรเมืองที่ศักดิ์สิทธิ์ในตำแหน่งที่เหมาะสม
                    </p>
                    <br>

                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3877.4766022682234!2d100.58730171464462!3d13.628747390427217!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x30e2a0ee2f78efa3%3A0x18a7ce67d7ff9293!2z4Lie4Li04Lie4Li04LiY4Lig4Lix4LiT4LiR4LmM4LiK4LmJ4Liy4LiH4LmA4Lit4Lij4Liy4Lin4Lix4LiT!5e0!3m2!1sth!2sth!4v1606665875813!5m2!1sth!2sth"
                        width="600" height="450" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>

                </div>
                <div class="col"></div>
            </div>
        </div>

</body>

</html>