<!DOCTYPE html>
<html>

<head>
    <title>Test</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</head>

<body>
    <!-- Nav bar -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container">
            <a class="navbar-brand" href="#">
                <img src="https://getbootstrap.com/docs/4.3/assets/brand/bootstrap-solid.svg" width="30" height="30" class="d-inline-block align-top" alt=""> GoWentGO
            </a>
            <form class="form-inline  ">
                <input class="form-control mr-sm-2" type="search" placeholder="ค้นหาสถานที่" aria-label="Search">
            </form>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
         <span class="navbar-toggler-icon"></span>
        </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <div class="mr-auto"></div>
                <ul class="navbar-nav my-2 my-lg-0">
                    <li class="nav-item home">
                        <a class="nav-link" href="#">หน้าแรก <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-display="static" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      สถานที่ท่องเที่ยว
    </a>
                        <div class="dropdown-menu dropdown-menu-lg-right" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item" href="#">เกาะหูหยง </a>
                            <a class="dropdown-item" href="#">เกาะปายัง </a>
                            <a class="dropdown-item" href="#">เกาะปาหยัน</a>
                            <a class="dropdown-item" href="#">เกาะเมียง</a>
                            <a class="dropdown-item" href="#">เกาะปายู</a>
                            <a class="dropdown-item" href="#">เกาะหินปูซาร์ </a>
                            <a class="dropdown-item" href="#">เกาะสิมิลัน</a>
                            <a class="dropdown-item" href="#">เกาะบางู</a>
                            <a class="dropdown-item" href="#">เกาะห้า</a>
                            <a class="dropdown-item" href="#">เกาะตาชัย</a>
                            <a class="dropdown-item" href="#">เกาะบอน</a>
                        </div>
                    </li>
                    <li class="nav-item covid">
                        <a class="nav-link" href="/travel">การเดินทาง <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-display="static" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      แนะนำอุทยาน
    </a>
                        <div class="dropdown-menu dropdown-menu-lg-right" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item" href="#">ประวัติ </a>
                            <a class="dropdown-item" href="#">ลักษณะทางกายภาพ </a>
                            <a class="dropdown-item" href="#">ที่ตั้งและแผนที่</a>
                        </div>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-display="static" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      Profile
    </a>
                        <div class="dropdown-menu dropdown-menu-lg-right" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item" href="/favPlaces">สิ่งที่ฉันถูกใจ</a>
                            <a class="dropdown-item" href="#">ออกจากระบบ</a>
                        </div>
                    </li>
                </ul>
            </div>
    </nav>
    <!-- Nav bar end -->
</body>

</html>