<!DOCTYPE html>
<html>

<head>
    <title>Register</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</head>

<body style="background-color: rgb(187, 230, 255);">
    <br>
    <div class="container">
        <div class="row">
            <div class="col">
            </div>
            <div class="col-5">
                <h1>ลงทะเบียน</h1>
                <br>
                <form method='POST' accept="/register" id="contact3"></form>
                <div class="form-group">
                    <label for="email">E-mail</label>
                    <input type="email" class="form-control" id="email" placeholder="example@hotmail.com">
                </div>
                <div class="form-group">
                    <label for="username">Username</label>
                    <input type="text" class="form-control" id="name" placeholder="Enter Username">
                </div>
                <div class="form-group">
                    <label for="password">Password</label>
                    <input type="password" class="form-control" id="pass" placeholder="Enter Password">
                </div>
                <div class="form-group">
                    <label for="password">Confirm Password</label>
                    <input type="password" class="form-control" id="cpass" placeholder="Enter Password">
                </div>
                <p id="con_res"></p>
                <br>
                <button type="submit" class="btn btn-primary btn-block" onclick="window.location.href='/home'">Submit</button>
                <button type="button" class="btn btn-secondary btn-block " onclick="window.location.href='/home'">Cancel</button>
                </form>
            </div>
            <div class="col ">
            </div>
        </div>
    </div>
    <script>
        $("#contact3").submit(function(event) {
            event.preventDefault()
            var formData3 = { //ทำเป็น json
                'email': $("#email").val(),
                'name': $("#name").val(),
                'pass': $("#pass").val(),
                'cpass': $("#cpass").val(),
            }
            alert("--");
            $.post("/register", formData3, function(result) {
                $('#con_res').html(result);
            })
        })
    </script>
</body>

</html>