<!DOCTYPE html>
<html>

<head>
    <title>Travel SamutPrakan</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="/css/style.css" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</head>

<body>
    <br><br>
    <div class="fonttitle">
        <h1 style="font-size: 500%;">ส่งเสริมการท่องเที่ยว</h1>
        <h2 style="font-size: 300%;">จังหวัดสมุทรปราการ</h2>
    </div>
    <br><br><br>
    <form role="form" method="GET" style="margin-left: 40%; margin-right: 40%;">
        <div class="form-group">
            <label for="search">ค้นหา</label>
            <select name="search" id="search" class="form-control">
			    <option value="place">สถานที่ท่องเที่ยว</option>
                <option value="safe">อนุรักษ์ธรรมชาติ</option>
			</select>
        </div>
        <button type="button" class="btn btn-primary">ตกลง</button>
    </form>


</body>

</html>