<!DOCTYPE html>
<html>

<head>
    <title>Travel SamutPrakan</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css" integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ho+j7jyWK8fNQe+A12Hb8AhRq26LrZ/JpcUGGOn+Y7RsweNrtN/tE3MoK7ZeZDyx" crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

    <link href="/css/style.css" rel="stylesheet" type="text/css">

</head>

<body style="text-align: center; background-color: rgb(187, 230, 255);">
    <div class="sriracha">
        <nav class="navbar navbar-expand-lg cnavbar navbar-dark bg-dark">
            <div class="container">
                <a class=" navbar-brand mb-0 h1" href="http://localhost:3000/home">SamutPrakan</a>
                <button class="navbar-toggler " type="button " data-toggle="collapse " data-target="#navbarSupportedContent " aria-controls="navbarSupportedContent " aria-expanded="false " aria-label="Toggle navigation ">
          <span class="navbar-toggler-icon "></span>
        </button>

                <form class="form-inline">
                    <input class="form-control mr-sm-2" type="search" placeholder="ค้นหา" aria-label="Search">
                    <button class="btn btn-outline-light my-2 my-sm-0" type="submit ">ค้นหา</button>
                </form>

                <div class="collapse navbar-collapse" id="navbarSupportedContent ">
                    <div class="mr-auto"></div>
                    <ul class="navbar-nav my-2 my-lg-0">
                        <li class="nav-item">
                            <a class="nav-link " href="http://localhost:3000/home">หน้าแรก<span class="sr-only ">(current)</span></a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link " href="http://localhost:3000/favorite">รายการโปรด</a>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-display="static" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <img src="/pic/profile.png" width="30" height="30">
                            </a>
                            <div class="dropdown-menu dropdown-menu-lg-right" aria-labelledby="navbarDropdown">
                                <a class="dropdown-item" href="http://localhost:3000/login">เข้าสู่ระบบ</a>
                                <a class="dropdown-item" href="http://localhost:3000/register">ลงทะเบียน</a>
                                <a class="dropdown-item" href="http://localhost:3000/home">ออกจากระบบ</a>
                            </div>
                        </li>
                    </ul>
                </div>
        </nav>
        </div>


        <div class="container bai">
            <div class="row">
                <div class="col"></div>
                <div class="col-2"></div>
                <div class="col-7">
                    <br>
                    <h3><img src="/pic/iconmarker.png" class="responsiveicon"> วัดอโศการาม</h3>
                </div>
                <div class="col-2"><button type="button" class="btn btn-outline-dark" style="margin-right: 0%; margin-top: 20%;">favorite</button></div>
                <div class="col"></div>
            </div>
        </div>


        <div class="container bai">
            <div class="row">
                <div class="col"></div>
                <div class="col-11">
                    <img src="/pic/วัดอโศการาม.jpg" class="responsivee">

                    <br>
                    <br>

                    <p>
                        <b>วัดอโศการาม</b> ตั้งอยู่ในเขตเทศบาลบางปูซอย 60 ถนนสุขุมวิทสายเก่า ตำบลท้ายบ้าน อำเภอเมือง จังหวัดสมุทรปราการ เป็นวัดเก่าแก่ที่มีความสำคัญ เป็นศาสนสถานที่มีความงดงามทางสถาปัตยกรรม โดยเฉพาะพระธุตังคเจดีย์ เจดีย์สีขาวขนาดใหญ่ เป็นปูชนียสถานประดิษฐานพระบรมสารีริธาตุ
                        เป็นอีกหนึ่งสถานที่ท่องเที่ยวยอดนิยม และมีพุทธศาสนิกชนมาปฏิบัติวิปัสสนากรรมฐานกันมาก
                    </p>

                    <p>
                        วัดอโศการาม อยู่บนเส้นทางเดียวกันกับทางที่จะไปเมืองโบราณสมุทรปราการ ภายในวัดมีพื้นที่บริเวณกว้างขวาง เต็มไปด้วยสิ่งปลูกสร้างมีระเบียบแบบแผนสวยงาม มีต้นไม้เยอะและยังมีป่าชายเลนติดทะเล สงบร่มรื่น เหมาะแก่การพักผ่อน ไหว้พระทำบุญ เมื่อเข้ามาภายในวัดมุ่งไปยังพระธุตังคเจดีย์
                        ที่ตั้งโดดเด่นอยู่ภายวัด เป็นพระเจดีย์หมู่รวม 13 องค์ แต่ละองค์ประดิษฐานพระบรมสารีริกธาตุ เพื่อเป็นที่ระลึกถึงธุดงควัตร 13 ประการ ภายในยังมีพระธาตุของพระเกจิอาจารย์ชื่อดัง อาทิ หลวงปู่แหวน หลวงปู่ชา เป็นต้น
                    </p>

                    <p>
                        ก่อนเข้าไปภายในพระธุตังคเจดีย์ ต้องถอดรองเท้าก่อนจะเดินไปยังชั้นไหนก็สวยงาม ยิ่งได้ท้องฟ้าสีฟ้าใสยิ่งตัดกับองค์พระเจดีย์สีขาว มองโดยรวมสวยงามสบายตา มาช่วงบ่ายแก่ๆถึงแม้แดดจะยังร้อน ก็ไม่หวั่นเดินขึ้นไปชมพระเจดีย์ในแต่ละชั้น แนะนำให้มาช่วงเช้าหรือบ่ายแก่ๆตอนเดินเข้าไปยังพระธาตุ
                        จะได้ไม่ร้อนเท้ามาก
                    </p>
                    <p>
                        นอกจากนี้ภายในวัดอโศการามยังมีสิ่งที่น่าสนใจ ได้แก่ วิหารวิสุทธิธรรมรังสี เป็นอาคารจตุรมุข 3 ชั้น ซึ่งชั้นบนเป็นที่ประดิษฐานพระบรมสารีริกธาตุ และสรีระของพระอาจารย์ลี ปัจจุบันเป็นสถานที่ทำวัตรของสงฆ์
                    </p>

                    <br>

                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3878.8074245377693!2d100.60588151464357!3d13.547401990479976!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x30e2a79d4f560b35%3A0x2cd3637db70605a6!2z4Lin4Lix4LiU4Lit4LmC4Lio4LiB4Liy4Lij4Liy4LihIGF0IOC4reC4s-C5gOC4oOC4reC5gOC4oeC4t-C4reC4h-C4quC4oeC4uOC4l-C4o-C4m-C4o-C4suC4geC4suC4ow!5e0!3m2!1sth!2sth!4v1606666052464!5m2!1sth!2sth"
                        width="600" height="450" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
                    <br><br><br><br>

                </div>
                <div class="col"></div>
            </div>
        </div>
</body>

</html>