<!DOCTYPE html>
<html>

<head>
    <title>Travel SamutPrakan</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css" integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ho+j7jyWK8fNQe+A12Hb8AhRq26LrZ/JpcUGGOn+Y7RsweNrtN/tE3MoK7ZeZDyx" crossorigin="anonymous"></script>

    <link href="/css/style.css" rel="stylesheet" type="text/css">

</head>

<body style="text-align: center; background-color: rgb(187, 230, 255);">
    <div class="trirong">
        <nav class="navbar navbar-expand-lg cnavbar navbar-dark bg-dark">
            <div class="container">
                <a class=" navbar-brand mb-0 h1" href="http://localhost:3000/home">SamutPrakan</a>
                <button class="navbar-toggler " type="button " data-toggle="collapse " data-target="#navbarSupportedContent " aria-controls="navbarSupportedContent " aria-expanded="false " aria-label="Toggle navigation ">
          <span class="navbar-toggler-icon "></span>
        </button>

                <form class="form-inline">
                    <input class="form-control mr-sm-2" type="search" placeholder="ค้นหา" aria-label="Search">
                    <button class="btn btn-outline-light my-2 my-sm-0" type="submit ">ค้นหา</button>
                </form>

                <div class="collapse navbar-collapse" id="navbarSupportedContent ">
                    <div class="mr-auto"></div>
                    <ul class="navbar-nav my-2 my-lg-0">
                        <li class="nav-item">
                            <a class="nav-link " href="http://localhost:3000/home">หน้าแรก<span class="sr-only ">(current)</span></a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link " href="http://localhost:3000/favorite">รายการโปรด</a>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-display="static" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <img src="/pic/profile.png" width="30" height="30">
                            </a>
                            <div class="dropdown-menu dropdown-menu-lg-right" aria-labelledby="navbarDropdown">
                                <a class="dropdown-item" href="http://localhost:3000/login">เข้าสู่ระบบ</a>
                                <a class="dropdown-item" href="http://localhost:3000/register">ลงทะเบียน</a>
                                <a class="dropdown-item" href="http://localhost:3000/home">ออกจากระบบ</a>
                            </div>
                        </li>
                    </ul>
                </div>
        </nav>
        </div>

        <div class="container bai">
            <div class="row">
                <div class="col"></div>
                <div class="col-11 bgw">
                    <br>
                    <h3><img src="/pic/iconmarker.png" class="responsiveicon"> วัดบางพลีใหญ่</h3>

                    <img src="/pic/วัดบางพลีใหญ่.jpg" class="responsive">
                    <br>
                    <br>
                    <p>
                        วัดบางพลีใหญ่ เป็นวัดที่มีประวัติความเป็นมาอันยาวนานและมีชื่อเสียงแห่งหนึ่งของอำเภอบางพลี เพราะเป็นวัดที่ใช้ประดิษฐานหลวงพ่อโตซึ่งเป็นพระพุทธรูปสมัยสุโขทัยปางมารวิชัยและเป็นหนึ่งในพระสามพี่น้อง ข้างพระอุโบสถหลวงพ่อโต มีรูปหล่อจำลองหลวงพ่อวัดดังมากมายให้สักการะกัน
                        เช่น หลวงพ่อโสธร หลวงพ่อวัดบ้านแหลม หลวงพ่อโตวัดป่าเลไลย์ หรือจะบูชาสิ่งศักดิ์สิทธิ์ก็มีให้บูชามากมาย เช่น บูชาราหูล เจ้าแม่กวนอิม หมอชีวกโกมารภัจจ์ ศาลพระพรหม ตลอดจนการทำสังฆทาน
                    </p>
                    <img src="/pic/วัดบางพลีใหญ่1.jpg" class="responsive">
                    <img src="/pic/วัดบางพลีใหญ่2.jpg" class="responsive">
                    <div style="padding-top: .5%;"></div>
                    <img src="/pic/วัดบางพลีใหญ่5.jpg" class="responsive">
                    <img src="/pic/วัดบางพลีใหญ่6.jpg" class="responsive">
                    <div style="padding-top: .5%;"></div>

                    <br>
                    <br>
                    <h3>ตลาดโบราณบางพลี</h3>

                    <img src="/pic/วัดบางพลีใหญ่3.jpg" class="responsive">
                    <img src="/pic/วัดบางพลีใหญ่4.jpg" class="responsive">
                    <div style="padding-top: .5%;"></div>
                    <img src="/pic/วัดบางพลีใหญ่7.jpg" class="responsive">
                    <p>
                        ตั้งอยู่ติดกับวัดบางพลีใหญ่ เป็นตลาดเก่าแก่ริมน้ำที่ขนานไปกับสองฝั่งคลอง ตลาดเปิดทุกวัน แต่เสาร์ อาทิตย์ จะคึกคักเป็นพิเศษ ภายในตลาดเป็นห้องแถวบ้านเรือนไม้โบราณให้อารมณ์ย้อนยุค เพราะตลาดแห่งนี้อายุประมาณกว่า 150 ปี ที่นี่เป็นตลาดเล็กๆ ไม่กว้างมากระยะทางประมาณ
                        1 กิโลกว่า แต่ถึงแม้จะมีพื้นที่ไม่กว้าง แต่ทุกก้าวที่เราได้เดินชมตลาดให้ความรู้สึกถึงความดั้งเดิมของบ้านเรือนไม้เก่าแก่ที่แทบไม่ได้ปรุงแต่ง เป็นชาวบ้านขายของจริงๆ ข้าวของที่ขายส่วนใหญ่ก็เป็นสินค้าข้าวของเครื่องใช้แบบท้องถิ่นดั้งเดิม
                        โดยเฉพาะร้านขายเครื่องสังฆทานจะมีมากเป็นพิเศษเพราะอยู่ติดกับวัด
                    </p>

                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3877.8733787584274!2d100.70930261464427!3d13.604544690442879!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x311d5c1a7f693401%3A0xbd49f0cd3e9427c2!2z4Lin4Lix4LiU4Lia4Liy4LiH4Lie4Lil4Li14LmD4Lir4LiN4LmI4LmD4LiZ!5e0!3m2!1sth!2sth!4v1606666109993!5m2!1sth!2sth"
                        width="600" height="450" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>


                </div>
                <div class="col"></div>
            </div>
        </div>

</body>

</html>