@import url('https://fonts.googleapis.com/css2?family=Bai+Jamjuree&family=Pattaya&family=Sriracha&family=Trirong&display=swap');
.bglg {
    background-color: lightgrey;
}

.bgw {
    background-color: white;
}

.pattaya {
    font-family: 'Pattaya', sans-serif;
}

.bai {
    font-family: 'Bai Jamjuree', sans-serif;
}

.sriracha {
    font-family: 'Sriracha', cursive;
}

.trirong {
    font-family: 'Trirong', serif;
}

.responsivee {
    width: 100%;
    max-width: 400px;
    height: 100%;
    max-height: 300px;
}

.iframeclass1 {
    width: 100%;
    height: 460px;
    max-width: 100%;
    max-height: 100%;
    border: 2px solid black;
}

.iframe-class {
    padding-top: 2%;
    width: 445px;
    height: 360px;
    max-width: 100%;
    max-height: 100%;
    border: 2px solid black;
}

.fb {
    color: black;
}

.responsiveicon {
    width: 100%;
    max-width: 40px;
    height: 100%;
    max-height: 40px;
}

.showcovid {
    padding-top: 2%;
    padding-bottom: 1.5%;
    padding-left: 4%;
    width: 445px;
    height: 95px;
    max-width: 100%;
    max-height: 100%;
    border: 2px solid black;
    background-color: lightgrey;
}

.col-1,
.col-2,
.col-3,
.col-4,
.col-5,
.col-6,
.col-7,
.col-8,
.col-9,
.col-10,
.col-11 {
    background-color: white;
}

.divbutsave .butsave {
    position: absolute;
    top: 15%;
    right: 0%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    background-color: green;
    color: white;
    font-size: 12px;
    padding: 8px 10px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    text-align: center;
}